<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @packed_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @packed_item.description %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @packed_item.weight %>
</p>

<p>
  <strong>Group item:</strong>
  <%= @packed_item.group_item %>
</p>

<%= link_to 'Edit', edit_packed_item_path(@packed_item) %> |
<%= link_to 'Back', packed_items_path %>
