
<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-body">

      <%= form_for(@inventory_item) do |f| %>
        <% if @inventory_item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@inventory_item.errors.count, "error") %> prohibited this inventory_item from being saved:</h2>

            <ul>
            <% @inventory_item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :weight %><br>
          <%= f.number_field :weight, :class => 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit 'Create Inventory Item', :class => "btn btn-success"  %>
        </div>
      <% end %>
    </div>
  </div>
