<p id="notice"><%= notice %></p>

<h1>Listing Inventory Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Weight</th>
      <th>Group item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_items.each do |inventory_item| %>
      <tr>
        <td><%= inventory_item.title %></td>
        <td><%= inventory_item.description %></td>
        <td><%= inventory_item.weight %></td>
        <td><%= link_to 'Show', inventory_item %></td>
        <td><%= link_to 'Edit', edit_inventory_item_path(inventory_item) %></td>
        <td><%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Inventory item', new_inventory_item_path %></p>
<p><%= link_to 'Allocate', packer_allocate_path %></p>
