<h1><%= @expedition.title.titleize %></h1>

<h3>Pack for <%= @expedition.days %> days, using items from your inventory list.</h3><br>
<% if @inventory_items.first.nil? %>
  <p> <em>Looks like you haven't yet created any inventory items.  You can <%= link_to "add some here", inventory_items_path %>. </em></p>
<% end %>

<%= form_tag do %>
<table class="table table-hover table-bordered table-condensed">
  <thead>
    <tr>
      <th>Packed</th>
      <th>Weight (lb)</th>
      <th>Equipment</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_items.each do |inventory_item| %>
      <tr>
        <td><%= check_box_tag(inventory_item.id.to_s.to_sym, "Packed",
        inventory_item.expeditions.where(id: @expedition.id).present? ? true : false) %></td>
        <td><%= inventory_item.weight %></td>
        <td><%= inventory_item.title %></td>
        <td><%= inventory_item.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= hidden_field_tag :exp_id, @expedition.id %>
<%= submit_tag "Update Packing List", :class => 'btn btn-lrg btn-success' %>

<% end %>
