<h1><%= @expedition.title.titleize %></h1>

<h2><%= "Pack for #{@expedition.days} Days" %></h2>

<%= form_tag do %>
<table>
  <thead>
    <tr>
      <th>Packed</th>
      <th>Weight (lb)</th>
      <th>Equipment</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_items.each do |inventory_item| %>
      <tr>
        <td><%= check_box_tag(inventory_item.id.to_s.to_sym, "Packed",
        inventory_item.expeditions.where(id: @expedition.id).present? ? true : false) %></td>
        <td><%= inventory_item.weight %></td>
        <td><%= inventory_item.title %></td>
        <td><%= inventory_item.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag("Pack It") %>

<% end %>


<p><%= link_to "Inventory", root_path %>
