<h1>Get Packing!</h1>

<%= form_tag do %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Weight</th>
      <th>Not Packed</th>
      <% @climbers.each do |c| %>
        <th><%= c.name %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% row_count = 1 %>
    <% @inventory_items.each do |inventory_item| %>
      <tr>
        <td><%= inventory_item.title %></td>
        <td><%= inventory_item.description %></td>
        <td><%= inventory_item.weight %></td>
        <td><%= radio_button_tag(inventory_item.id.to_s.to_sym, "Not Packed") %></td>
        <% @climbers.each do |c| %>
          <td><%= radio_button_tag(inventory_item.id.to_s.to_sym, "#{c.name}") %></td>
        <% end %>
        <% row_count += 1 %>

      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag("Pack It") %>

<% end %>
